

html,
body {
  // height: 100%;
  margin: 0;
  padding: 0;
  // background: #202838;
  color: rgb(59, 184, 206);
  font-family: 'Nunito', 'Courier New', Courier, monospace;
  font-weight: 300;
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  overflow:hidden;
}

.hideDebug {
  // position: absolute;
  transform: translate(0, -60px);
  transition: all 3s ease-in;
}

.hideBottom {
  transform: translate(0, 240px);
  transition: all 0.3s ease-in;
}

.panel_BG {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 3em 3em 0 0;
  transition: all 0.25s ease-in;
  position: absolute;
  width: 100%;
  bottom: 0;
  box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.2);
  z-index: 100;

}
.hideDebug .chevron, .hideBottom .chevron{
  transition: all 0.5s ease;
  transform: rotateX(180deg); 
}

.chevron {
  // transform: rotate(1turn);  
  height: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  transition: all 0.5 ease;
  background: transparent;
}

h3 {
  margin-top: 0.5em;
}


#debug_hover_area {
  position: absolute;
  // border: red 1px solid;
  width: 100%;
  height: 150px;
  left: 0;
  top: 0;
  z-index: 6;
  color: transparent;
  background-color: #121823, #161d2b;
}

#bottom_hover_area {
  position: absolute;
  // border: blue 1px solid;
  width: 100%;
  height: 280px;
  left: 0;
  bottom: 0;
  z-index: 100;
  // color: transparent;
}

@media (max-width: 767px) {
  .progress_bar {
    opacity: 1 !important;
  }

  .mobileAdminView {
    // color: white;
    position: fixed;
    width: 100%;
    color: coral;
    top: 10vh;
  }


  .hideDebug {
    // color: red;
    transform: translate(0, -155px);
  }
  .hideBottom {
    transform: translate(0, 260px);
  }

  .panel_container {
    width: 100%;
    grid-template-columns: 100% !important;
  }
  .table_footer {
    // grid-template-columns: 100% !important;
    width: 100% !important;
  }
  .table {
    width: 85% !important;
    padding: 1em;
  }

  h3 {
    text-align: center;
  }
  .table_footer .right_footer {
    margin-left: 0 !important;
    margin-top: 0.5em;
    margin-right: 0.25em;
  }
}

.debug-group {
  // margin-top: 1em;
  text-align: 'center';
  display: fixed;
  margin: auto;
  z-index: 5;
  position: relative;
  // max-width: 60vw;
  transition: all 0.5s ease;
  background-color: rgba(0,0,0,0.3);
  border-radius: 0 0 3em 3em;
  // width: 480px;
  box-shadow: 0 0 5px 2px rgba(255,255,255,0.2);

}

.debug-group:hover {
  box-shadow: 0 0 5px 2px white;
  transition: all 0.5 ease;
  -webkit-transition: all 0.5 ease;
  cursor: pointer;
}

.panel_BG:hover {
  box-shadow: 0 -1px 4px 2px white;
  transition: all 0.5 ease;
  -webkit-transition: all 0.5 ease;
  cursor: pointer;
}

.contents {
  display: fixed;
}

.panel_container {
  display: grid;
  grid-template-columns: 50% 50%;
  // transition: all 1s ease-in;
  padding-bottom: 1em;
}


.debug_text_input {
  margin-right: 0.5em;
  height: 2.3em;
  width: 150px;
  text-align: center;
  color: darkgrey;
  background: #1F2736;
  background: linear-gradient(#121823, #161d2b);
  border-radius: 0.5em;
  box-shadow: 
  1px 2px 2px rgba(255, 255, 255, 0.3);
  border: 0;
  border-right: 0.5px rgba(255,255,255,0.2) solid;
  border-bottom: 0.5px rgba(255,255,255,0.2) solid;
  -webkit-transition: all 0.5 ease;
  transition: all .5s ease;
}

.vert-bar {
  padding-left:0.7em;
  padding-right: 0.5em;
  // color: rgba(255, 255, 255, 0.1);
}

.serverPlaceholderConnected {
  color: #b9f3fe;
  transition: all 0.5s ease;
}

.server_status {
  min-height: 10px;
  min-width: 10px;
  border-radius: 100%;
  background: #283446;
  /* Fallback */
  background: #1F2736;
  background: linear-gradient(#121823, #161d2b);
  border-radius: 0.5em;
  box-shadow: 1px 2px 2px rgba(255, 255, 255, 0.3);
  display: inline-block;
  margin-right: 0.5em;
}

.server_online {
  background: #b9f3fe;
  background: gradient-gradient(#ffffff, #77a1b9);
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1),
  0 1px 0 rgba(255, 255, 255, 0.1),
  0 0 10px rgba(100, 231, 253, 1),
  inset 0 0 8px rgba(61, 157, 247, 0.8),
  inset 0 -2px 1px rgba(185, 231, 253, 0.3),
  inset 0 -3px 1px rgba(185, 231, 253, 0.5);
  -webkit-transition: all 0.5 ease;
  transition: all .5s ease;
}



.debug_inline_group {
  display: inline-block;
  margin-top: 1em;
}

.debug_label {
  color: darkgrey;
  font-size: 0.8em;
  margin: 0.3em;
  margin-top: 0.5em;
  font-weight: medium;
}

.container {
  text-align: center;
}
.middle {
  margin-top: 1vh;
  display: block;
}

.btn-active {
  color: #b9f3fe !important;
}

.modali-wrapper {
  color: black;
}

.debug_sm_input {
  width: 20px !important;
}

.debug_button {
  // top: -1em;
  // margin-top: 1em;
  margin-top: 1em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  background: #1F2736;
  background: linear-gradient(#121823, #161d2b);
  border-radius: 0.6em;
  box-shadow: 1px 2px 2px rgba(255,255,255,0.3);
  // inset 1px 2px rgba(0, 0, 0, 0.5), /*bottom external highlight*/
  // 0 -1px 1px rgba(0, 0, 0, 0.5),/*top external shadow*/
  // 0 1px 1px rgba(255, 255, 255, 0.5), /*bottom internal shadow*/
  // inset 0 1px 1px rgba(0, 0, 0, 0.5); /*top internal highlight*/
  border: transparent;
  height: 2.5em;
  // height: 1.5em;
  color: darkgrey;
}
.debug_button:active {
  color: #b9f3fe !important;  
}
.debug_button:hover {
  cursor: pointer;
  // background: #b9f3fe;
  // background: gradient-gradient(#ffffff, #77a1b9);
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1),
  0 1px 0 rgba(255, 255, 255, 0.1),
  0 1px 2px rgba(100, 231, 253, 1),
  inset 0 0 2px rgba(61, 157, 247, 0.8),
  inset 0 0 3px rgba(185, 231, 253, 0.3),
  inset 0 0 4px rgba(185, 231, 253, 0.5);
}

.camera_status {
  text-align: left;
  background: white;
  border: rgba(0, 0, 0, 0.063) 1px solid;
  padding: 1em;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  margin: auto;
  width: 380px;
  height: 400px;
  line-height: 400px;
  border-radius: 0.5em;
}

.camera_status_content {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}



.cameras_container {
  display: inline-block;
  text-align: center;
  // width: %;
  width: 80%;
  color: lightgray;
  border: #00000010 solid 1px;
  background: #1F2736;
  background: linear-gradient(#121823, #161d2b);
  border-radius: 2em;
  box-shadow: inset 0 3px 8px 1px rgba(0, 0, 0, 0.5),
  inset 0 1px 0 rgba(0, 0, 0, 0.5),
  0 1px 0 rgba(255, 255, 255, 0.2);
  height: 80%;
  margin: 0;
  // max-height: 67%;
}


.ct-toast {
  // background: #1F2736;
  background: rgb(95, 92, 92) !important;
  border-radius: 0.5em !important;
  // background: linear-gradient(#121823, #161d2b);
  // color: white;
}

.ct-toast-info {
  color: lightskyblue !important;
  border-color: lightskyblue !important;
}
.ct-toast-info path {
  fill: lightskyblue !important;
}


.ct-icon-loading:after {
  border: 2px solid lightskyblue !important;
  border-color: lightskyblue transparent lightskyblue transparent !important;
}
.ct-icon-success {
  color: lightgreen !important;
}
.ct-toast-loading {
  color: lightskyblue !important;
}

.ct-toast-success {
  color: lightgreen !important;
}

.ct-toast-info .cogo-toast {
  color: lightskyblue !important;
}

.ct-toast-loading .cogo-toast {
  color: lightskyblue !important;
}
.ct-toast-loading {
  border-left: 3px solid lightskyblue !important;
}


.ct-toast-warn .ct-text {
  color: #FFDA44
}
.ct-text {
  font-weight: medium;

}

.cogo-toast {
  display: grid;
  grid-template-columns: 20% auto 20%;
  text-align: center;
  width: 200px;
  // color: white;

}
.emoji-layout-container {
  display: grid;
  grid-template-columns: 10% auto 10%;
  width: 100%;
  text-align: center;
  // width: 200px;
  // color: lightgray;
}


.cogo-toast-emoji-left,
.emoji-layout-emoji-left {
  margin-top: auto;
  margin-bottom: auto;
  text-align: right;
  // margin-right: 1em;
}
.cogo-toast-emoji-right,
.emoji-layout-emoji-right {
  margin-top: auto;
  margin-bottom: auto;
  text-align: left;
  // margin-left: 1em;
}

#btn_tester {
  display: inline;
  margin-left: 0;
  margin-right: 0;
}
.left_panel {
  display: grid;
  // padding-bottom: 1em;
}
.right_panel {
  padding-left: 1em;
  // padding-bottom: auto;
  text-align: center;
  height: 80%;
}

.cameras {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  justify-content: space-evenly;
  height: 90%;
  overflow: scroll;
}

.cam {
  // border: orange dashed 1px;
  width: 150px;
  height: 90px;
  border-radius: 1em;
}

.display_none {
  display: none
}

.name_field {
  padding: 0.5em;
  // margin-bottom: 2em;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


// ::-webkit-scrollbar {
//   -webkit-appearance: none;
//   width: 6px;
//   height: 2px;
// }

// ::-webkit-scrollbar-thumb {
//   border-radius: 4px;
//   background-color: rgba(0, 0, 0, .2);
//   box-shadow: 0 0 1px rgba(255, 255, 255, 0.5); 
// }

.hidden_button {
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
}

.modali-content {
  margin-top: 1em;
  margin-right: auto;
}