//@import url('https://fonts.googleapis.com/css?family=Nunito:300,400&display=swap');
html,
body {
  height: 100%;
  margin: 0;
  // background: #202838;
  background: rgba(0, 0, 0, 0.7);
  color: rgba(100, 231, 253, 1);
}
body {
  font-family: 'Nunito', 'Courier New', Courier, monospace;
  font-weight: 300;
}

.debug-group .debug_button {
  // color: white;
  margin-top:-1em;
}

.debug_text_input {
  margin-right: 0.5em;
  height: 2.3em;
  width: 150px;
  text-align: center;
  color: darkgrey;
  background: #1F2736;
  background: linear-gradient(#121823, #161d2b);
  border-radius: 0.5em;
  box-shadow: 
  1px 2px 2px rgba(255, 255, 255, 0.3);
  border: 0;
  border-right: 0.5px rgba(255,255,255,0.2) solid;
  border-bottom: 0.5px rgba(255,255,255,0.2) solid;
}

.serverPlaceholderConnected {
  color: #b9f3fe;
  -webkit-transition: all 0.5 ease;
  transition: all .5s ease;
}

.server_status {
  min-height: 10px;
  min-width: 10px;
  border-radius: 100%;
  background: #283446;
  /* Fallback */
  background: #1F2736;
  background: linear-gradient(#121823, #161d2b);
  border-radius: 0.5em;
  box-shadow: 1px 2px 2px rgba(255, 255, 255, 0.3);
  display: inline-block;
  margin-right: 0.5em;
}

.server_online {
  background: #b9f3fe;
  background: gradient-gradient(#ffffff, #77a1b9);
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1),
  0 1px 0 rgba(255, 255, 255, 0.1),
  0 0 10px rgba(100, 231, 253, 1),
  inset 0 0 8px rgba(61, 157, 247, 0.8),
  inset 0 -2px 1px rgba(185, 231, 253, 0.3),
  inset 0 -3px 1px rgba(185, 231, 253, 0.5);
  -webkit-transition: all 0.5 ease;
  transition: all .5s ease;
}

.debug-group {
  margin-top: 1em;
  text-align: 'center';
  display: inline-block;
  z-index: 5;
}

.debug_inline_group {
  display: inline-block;
  margin-left: 0.5em;  
}

.debug_label {
  color: darkgrey;
  font-size: 0.8em;
  margin: 0.3em;
  margin-top: 0.5em;
  font-weight: medium;
}

.container {
  text-align: center;
}
.middle {
  margin-top: 5vh;
  display: block;
}

.btn-active {
  color: #b9f3fe !important;
}

.modali-wrapper {
  color: black;
}

.debug_sm_input {
  width: 20px !important;
}

.debug_button {
  // top: -1em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  background: #1F2736;
  background: linear-gradient(#121823, #161d2b);
  border-radius: 0.6em;
  box-shadow: 1px 2px 2px rgba(255,255,255,0.3);
  // inset 1px 2px rgba(0, 0, 0, 0.5), /*bottom external highlight*/
  // 0 -1px 1px rgba(0, 0, 0, 0.5),/*top external shadow*/
  // 0 1px 1px rgba(255, 255, 255, 0.5), /*bottom internal shadow*/
  // inset 0 1px 1px rgba(0, 0, 0, 0.5); /*top internal highlight*/
  border: transparent;
  height: 2.5em;
  // height: 1.5em;
  color: darkgrey;
}
.debug_button:hover {
  cursor: pointer;
  // background: #b9f3fe;
  // background: gradient-gradient(#ffffff, #77a1b9);
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1),
  0 1px 0 rgba(255, 255, 255, 0.1),
  0 1px 2px rgba(100, 231, 253, 1),
  inset 0 0 2px rgba(61, 157, 247, 0.8),
  inset 0 0 3px rgba(185, 231, 253, 0.3),
  inset 0 0 4px rgba(185, 231, 253, 0.5);
}

.camera_status {
  text-align: left;
  background: white;
  border: rgba(0, 0, 0, 0.063) 1px solid;
  padding: 1em;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  margin: auto;
  width: 380px;
  height: 400px;
  line-height: 400px;
  border-radius: 0.5em;
}

.camera_status_content {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}


.contents {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 0.5em;
  // width: 95vh;
  margin: auto auto;
  //height: 100%;
}

.cameras_container {
  display: block;
  text-align: center;
  width: 100%;
}

.ct-toast {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

.ct-toast-success .cogo-toast {
  border-left: 1px dashed green;
}
.ct-toast-info .cogo-toast {
  border-left: 1px dashed rgb(18, 113, 236)
}
.ct-toast-loading .cogo-toast {
  border-left: 1px dashed rgb(18, 113, 236);
}

.cogo-toast {
  display: grid;
  grid-template-columns: 20% auto 20%;
  text-align: center;
  width: 200px;
  color: white;
}
.emoji-layout-container {
  display: grid;
  grid-template-columns: 20% auto 20%;
  text-align: center;
  // width: 200px;
  color: white;
}

.cogo-toast-emoji-left,
.emoji-layout-emoji-left {
  margin-top: auto;
  margin-bottom: auto;
  text-align: right;
  margin-right: 1em;
}
.cogo-toast-emoji-right,
.emoji-layout-emoji-right {
  margin-top: auto;
  margin-bottom: auto;
  text-align: left;
  margin-left: 1em;
}

#btn_tester {
  display: inline;
  margin-left: 0;
  margin-right: 0;
}
.left_panel {
  display: grid;
}

.cameras {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  justify-content: space-evenly;
  max-height: 82vh;
  overflow: scroll;
}

.cam {
  // border: orange dashed 1px;
  width: 240px;
  height: 180px;
  margin: 0.5em;
}

.display_none {
  display: none
}

.name_field {
  padding: 0.5em;
  margin-bottom: 2em;
}

.right_panel {
  padding-left: 1em;
  margin-top: 3em;
  padding-bottom: auto;
  padding-top: 2em;
  border: rgba(0, 0, 0, 0.063) 1px solid;
  
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 6px;
  height: 2px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .2);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5); 
}

.hidden_button {
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
}

.modali-content {
  margin-top: 1em;
  margin-right: auto;
}