


.name_input {
  display: grid;
  // grid-template-columns: 50% 50%;
  padding-top: 7px;
  margin: auto auto;
  // width: 500px;
  
  input[type='text'] {
    border: 00000010 0.5px solid;
    border-radius: 3px;
    margin: auto auto;
    width: 500px;
    // height: 3em;
    text-align: center;
    font-size: 3em;
    // margin-left: 1em;
  }
}