video {
  width: 168px;
  height: 100px;
}


.label {
  font-weight: 300;
  font-size: 0.7em;
  padding-left: 1em;
  padding-bottom: 0px;
  margin: 0;
  margin-top: -0.4em;
}

.vid_card {
  padding: 0em;
  border-radius: 0.5em;
  border: #00000010 solid 1px;
  margin-bottom: 0.5em;
}