.actions {
  display: grid;
  grid-template-columns: 20% 30% 50%;
  font-size: 0.7em;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  font-weight: 800;
}

.btn {
  cursor: pointer;
}

#play {
  color: #60FF72
}

#retry {
  color: #E88603;
}

#delete {
  color: #FF0005;
}