.table_header {
  margin-top: 2em;
  display: grid;
  grid-template-columns: 45% 25% 30%;
  padding-top: 1em;
  border-top: #00000010 solid 1px;
  border-bottom: #00000010 solid 1px;
  margin-bottom: 1em;
}

.col {
  height: 30px;
  font-weight: 800;
}
