.table_header_footer {
  background: #00000007;
  display: grid;
  grid-template-columns: 45% 25% 30%;
  padding-top: 0.7em;
  border: #00000010 solid 1px;
  height: 30px;
  font-weight: 800;
  padding-left: 0.5em;
}

.table {
  border: #00000010 solid 1px;
  border-top: none;
  border-bottom: none;
}
