.table_row {
  display: grid;
  grid-template-columns: 45% 25% 30%;
  border: #00000010 solid 1px;
  border-right: none;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}

.row_item {
  font-size: 0.8em;
  overflow-x: scroll;
  width: 90%;
  white-space: nowrap;
  padding-left: 0.5em;
}

.read {
  color: black;
  font-weight: 800;
}

.curr_sentence {
  color: blue;
}