
.testing_screen {
  text-align:center;
  padding: 20vh;
  height: 53vh;
  // position: fixed;
  // width:100%;
  display: absolute;
  border: 1px solid black;
  margin-bottom: 10em;
}

.btn {
  font-size: 1.05em;
  border: 1px solid black;
  font-weight: 300;
  background-color: white;
  border-radius: 1em;
  height: 2.5em;
  width: 125px;
  margin: 0.5em;
}

.btn-center {
  margin: auto auto;
}

.btn-danger {
  background-color: red;
  color: white;
}

.sentence_to_be_read {
  font-size: 3em;
  line-height: 2;
  margin-bottom: 0.5em;
}
.recording_hint {
  color: red;
  font-size: 2em;
  height: 5vh;
}
.warning_message {
  color: red;
}