
.testing_screen {
  text-align:center;
  // background-color:blue;
  padding: 20vh 0vh;
  height:30vh;
  width:100%;
}

.btn {
  font-size: 1.05em;
  border: 1px solid black;
  font-weight: 300;
  background-color: white;
  border-radius: 1em;
  height: 3em;
  width: 150px;
  margin: 0.5em;
}

.btn-danger {
  background-color: red;
  color: white;
}


.test_container {
  //transform: translateY(12vh);
}

.sentence_to_be_read {
  font-size: 3em;
  line-height: 2;
  margin-bottom: 0.5em;
}
.recording_hint {
  color: red;
  font-size: 2em;
  height: 5vh;
}
.warning_message {
  color: red;
}